In [12]:
import pandas as pd
import numpy as np

In [4]:
My_Series_flt = pd.Series ([10.1, 20.2, 30.4, 40.4, 50.5, 60.6]) # Series created using a list

print (My_Series_flt)

0    10.1
1    20.2
2    30.4
3    40.4
4    50.5
5    60.6
dtype: float64

In [5]:
My_Series_mixed = pd.Series ([10.1, 20, 'jay' , 40.4]) # Series created using a list

print (My_Series_mixed)

0    10.1
1      20
2     jay
3    40.4
dtype: object

In [6]:
countries = ['India', 'USA', 'Japan', 'Russia', 'China']
leaders = ['Narendra Modi', 'Donald Trump', 'Shinzo Abe', 'Vladimir Putin', 'Xi Jinpin']

S = pd.Series (leaders, index=countries) # Index is explicitly defined here 
S

India      Narendra Modi
USA         Donald Trump
Japan         Shinzo Abe
Russia    Vladimir Putin
China          Xi Jinpin
dtype: object

In [8]:
stocks_set1 = ['Alphabet', 'IBM', 'Tesla', 'Infosys']
stocks_set2 = ['Alphabet', 'Facebook', 'Tesla', 'Infosys']

S3 = pd.Series([100, 250, 300, 500], index = stocks_set1)
S4 = pd.Series([500, 700, 110, 700], index = stocks_set2)


print (S3)
print("\n")

print (S4)
print("\n")

print(S3+S4)

Alphabet    100
IBM         250
Tesla       300
Infosys     500
dtype: int64


Alphabet    500
Facebook    700
Tesla       110
Infosys     700
dtype: int64


Alphabet     600.0
Facebook       NaN
IBM            NaN
Infosys     1200.0
Tesla        410.0
dtype: float64

In [9]:
(S3 + S4).isnull()

Alphabet    False
Facebook     True
IBM          True
Infosys     False
Tesla       False
dtype: bool

In [10]:
print ((S3 + S4).dropna())

Alphabet     600.0
Infosys     1200.0
Tesla        410.0
dtype: float64

In [13]:
My_Series = pd.Series([10, 20, 30, 40, 50, 60]) 

My_Series.apply(np.sin) # Find 'sine' of each value in the series

0   -0.544021
1    0.912945
2   -0.988032
3    0.745113
4   -0.262375
5   -0.304811
dtype: float64