a. Aggregation − Computing a summary statistic. Eg: Compute group sums or means.

b. Transformation − perform some group-specific operation. Eg: Standarizing data (computing zscore) within the group.

c. Filtration − discarding the data with some condition.

In [2]:
# Creating a data frame

import pandas as pd

my_portfolio = {'Sector': ['IT', 'FMCG', 'Finance', 'Pharma', 'Pharma',
                          'FMCG', 'FMCG', 'IT', 'Finance', 'Real Estate'],
            
            'Company':   ['Infosys', 'Dabur', 'DHFL', 'Divis Lab', 'Lupin',
                         'Ruchira Papers', 'Britianna','Persistent Systems','Bajaj Finance', 'DLF'],
            
            'MarketCap': ['Large Cap','Large Cap','Mid Cap','Mid Cap','Mid Cap',
                         'Small Cap','Mid Cap','Small Cap','Large Cap','Mid Cap'],
            
            'Share Price': [1120,341,610,1123,741,185,5351,720,1937,217],
                
            'Amount Invested': [24000,16000,50000,23000,45000,12000,52000,18000,5000,3500]}

mp = pd.DataFrame(my_portfolio)

mp

        Sector             Company  MarketCap  Share Price  Amount Invested
0           IT             Infosys  Large Cap         1120            24000
1         FMCG               Dabur  Large Cap          341            16000
2      Finance                DHFL    Mid Cap          610            50000
3       Pharma           Divis Lab    Mid Cap         1123            23000
4       Pharma               Lupin    Mid Cap          741            45000
5         FMCG      Ruchira Papers  Small Cap          185            12000
6         FMCG           Britianna    Mid Cap         5351            52000
7           IT  Persistent Systems  Small Cap          720            18000
8      Finance       Bajaj Finance  Large Cap         1937             5000
9  Real Estate                 DLF    Mid Cap          217             3500

# View Groups

In [3]:
print (mp.groupby('MarketCap').groups)

{'Large Cap': Int64Index([0, 1, 8], dtype='int64'), 'Mid Cap': Int64Index([2, 3, 4, 6, 9], dtype='int64'), 'Small Cap': Int64Index([5, 7], dtype='int64')}

In [7]:
mp.groupby('Sector').groups

{'FMCG': Int64Index([1, 5, 6], dtype='int64'),
 'Finance': Int64Index([2, 8], dtype='int64'),
 'IT': Int64Index([0, 7], dtype='int64'),
 'Pharma': Int64Index([3, 4], dtype='int64'),
 'Real Estate': Int64Index([9], dtype='int64')}

In [9]:
mp.groupby(['Sector', 'MarketCap']).groups

{('FMCG', 'Large Cap'): Int64Index([1], dtype='int64'),
 ('FMCG', 'Mid Cap'): Int64Index([6], dtype='int64'),
 ('FMCG', 'Small Cap'): Int64Index([5], dtype='int64'),
 ('Finance', 'Large Cap'): Int64Index([8], dtype='int64'),
 ('Finance', 'Mid Cap'): Int64Index([2], dtype='int64'),
 ('IT', 'Large Cap'): Int64Index([0], dtype='int64'),
 ('IT', 'Small Cap'): Int64Index([7], dtype='int64'),
 ('Pharma', 'Mid Cap'): Int64Index([3, 4], dtype='int64'),
 ('Real Estate', 'Mid Cap'): Int64Index([9], dtype='int64')}

In [10]:
grouped = mp.groupby('Sector')

for name,group in grouped: 
    print (name)
    print (group)

FMCG
  Sector         Company  MarketCap  Share Price  Amount Invested
1   FMCG           Dabur  Large Cap          341            16000
5   FMCG  Ruchira Papers  Small Cap          185            12000
6   FMCG       Britianna    Mid Cap         5351            52000
Finance
    Sector        Company  MarketCap  Share Price  Amount Invested
2  Finance           DHFL    Mid Cap          610            50000
8  Finance  Bajaj Finance  Large Cap         1937             5000
IT
  Sector             Company  MarketCap  Share Price  Amount Invested
0     IT             Infosys  Large Cap         1120            24000
7     IT  Persistent Systems  Small Cap          720            18000
Pharma
   Sector    Company MarketCap  Share Price  Amount Invested
3  Pharma  Divis Lab   Mid Cap         1123            23000
4  Pharma      Lupin   Mid Cap          741            45000
Real Estate
        Sector Company MarketCap  Share Price  Amount Invested
9  Real Estate     DLF   Mid Cap          217             3500

In [11]:
grouped = mp.groupby('MarketCap')

for name,group in grouped:  # We will learn 'for' loop in further sections. It is usually used for iterations 
    print (name)
    print (group)

Large Cap
    Sector        Company  MarketCap  Share Price  Amount Invested
0       IT        Infosys  Large Cap         1120            24000
1     FMCG          Dabur  Large Cap          341            16000
8  Finance  Bajaj Finance  Large Cap         1937             5000
Mid Cap
        Sector    Company MarketCap  Share Price  Amount Invested
2      Finance       DHFL   Mid Cap          610            50000
3       Pharma  Divis Lab   Mid Cap         1123            23000
4       Pharma      Lupin   Mid Cap          741            45000
6         FMCG  Britianna   Mid Cap         5351            52000
9  Real Estate        DLF   Mid Cap          217             3500
Small Cap
  Sector             Company  MarketCap  Share Price  Amount Invested
5   FMCG      Ruchira Papers  Small Cap          185            12000
7     IT  Persistent Systems  Small Cap          720            18000

In [12]:
import numpy as np

grouped = mp.groupby('MarketCap')

print (grouped['Amount Invested'].agg(np.mean))

MarketCap
Large Cap    15000
Mid Cap      34700
Small Cap    15000
Name: Amount Invested, dtype: int64

In [13]:
grouped = mp.groupby('MarketCap')

print (grouped.agg(np.size))

           Sector  Company  Share Price  Amount Invested
MarketCap
Large Cap       3        3            3                3
Mid Cap         5        5            5                5
Small Cap       2        2            2                2

In [14]:
# Applying multiple aggregation functions at once

grouped = mp.groupby('MarketCap')

print (grouped['Amount Invested'].agg([np.sum, np.mean]))

              sum   mean
MarketCap
Large Cap   45000  15000
Mid Cap    173500  34700
Small Cap   30000  15000

# groupby object 에는 transform 을 사용한다

In [21]:
grouped = mp.groupby('MarketCap')

z_score = lambda x: (x - x.mean()) / x.std()

print (grouped.transform(z_score))

   Share Price  Amount Invested
0    -0.015872         0.943456
1    -0.991970         0.104828
2    -0.471596         0.731522
3    -0.229280        -0.559399
4    -0.409718         0.492462
5    -0.707107        -0.707107
6     1.767825         0.827145
7     0.707107         0.707107
8     1.007841        -1.048285
9    -0.657231        -1.491731

In [22]:
mp['Share Price'].apply(lambda x: x*100)

0    112000
1     34100
2     61000
3    112300
4     74100
5     18500
6    535100
7     72000
8    193700
9     21700
Name: Share Price, dtype: int64

In [23]:
print (mp.groupby('MarketCap').filter(lambda x: len(x)>= 3))

        Sector        Company  MarketCap  Share Price  Amount Invested
0           IT        Infosys  Large Cap         1120            24000
1         FMCG          Dabur  Large Cap          341            16000
2      Finance           DHFL    Mid Cap          610            50000
3       Pharma      Divis Lab    Mid Cap         1123            23000
4       Pharma          Lupin    Mid Cap          741            45000
6         FMCG      Britianna    Mid Cap         5351            52000
8      Finance  Bajaj Finance  Large Cap         1937             5000
9  Real Estate            DLF    Mid Cap          217             3500

# Merge / Join

In [25]:
import pandas as pd


left_df = pd.DataFrame({
         'id':[1,2,3,4,5],
         'Company': ['Infosys', 'SBI', 'Asian Paints', 'Maruti', 'Sun Pharma'],
         'Sector':['IT','Banks','Paints and Varnishes','Auto','Pharma']})

right_df = pd.DataFrame(
         {'id':[1,2,3,4,5],
         'Company': ['NTPC', 'TCS', 'Lupin', 'ICICI', 'M&M'],
         'Sector':['Power','IT','Pharma','Banks','Auto']})

In [26]:
left_df

   id       Company                Sector
0   1       Infosys                    IT
1   2           SBI                 Banks
2   3  Asian Paints  Paints and Varnishes
3   4        Maruti                  Auto
4   5    Sun Pharma                Pharma

In [27]:
right_df

   id Company  Sector
0   1    NTPC   Power
1   2     TCS      IT
2   3   Lupin  Pharma
3   4   ICICI   Banks
4   5     M&M    Auto

# Join

In [28]:
print (pd.merge(left_df,right_df, on='id'))

   id     Company_x              Sector_x Company_y Sector_y
0   1       Infosys                    IT      NTPC    Power
1   2           SBI                 Banks       TCS       IT
2   3  Asian Paints  Paints and Varnishes     Lupin   Pharma
3   4        Maruti                  Auto     ICICI    Banks
4   5    Sun Pharma                Pharma       M&M     Auto

In [29]:
print (pd.merge(left_df,right_df, on='Sector'))

   id_x   Company_x  Sector  id_y Company_y
0     1     Infosys      IT     2       TCS
1     2         SBI   Banks     4     ICICI
2     4      Maruti    Auto     5       M&M
3     5  Sun Pharma  Pharma     3     Lupin

In [30]:
print (pd.merge(left_df,right_df,on=['Sector','Company']))

Empty DataFrame
Columns: [id_x, Company, Sector, id_y]
Index: []

In [31]:
# Left join

print (pd.merge(left_df, right_df, on='Sector', how='left'))

   id_x     Company_x                Sector  id_y Company_y
0     1       Infosys                    IT   2.0       TCS
1     2           SBI                 Banks   4.0     ICICI
2     3  Asian Paints  Paints and Varnishes   NaN       NaN
3     4        Maruti                  Auto   5.0       M&M
4     5    Sun Pharma                Pharma   3.0     Lupin

In [34]:
# Outer join

print (pd.merge(left_df, right_df, how='outer', on='Sector'))

   id_x     Company_x                Sector  id_y Company_y
0   1.0       Infosys                    IT   2.0       TCS
1   2.0           SBI                 Banks   4.0     ICICI
2   3.0  Asian Paints  Paints and Varnishes   NaN       NaN
3   4.0        Maruti                  Auto   5.0       M&M
4   5.0    Sun Pharma                Pharma   3.0     Lupin
5   NaN           NaN                 Power   1.0      NTPC

In [35]:
# Inner Join

print (pd.merge(left_df, right_df, on='Sector', how='inner'))

   id_x   Company_x  Sector  id_y Company_y
0     1     Infosys      IT     2       TCS
1     2         SBI   Banks     4     ICICI
2     4      Maruti    Auto     5       M&M
3     5  Sun Pharma  Pharma     3     Lupin

# Concatenate

In [36]:
print (pd.concat([left_df,right_df]))

   id       Company                Sector
0   1       Infosys                    IT
1   2           SBI                 Banks
2   3  Asian Paints  Paints and Varnishes
3   4        Maruti                  Auto
4   5    Sun Pharma                Pharma
0   1          NTPC                 Power
1   2           TCS                    IT
2   3         Lupin                Pharma
3   4         ICICI                 Banks
4   5           M&M                  Auto

In [37]:
print (pd.concat([left_df, right_df],keys=['x','y']))

     id       Company                Sector
x 0   1       Infosys                    IT
  1   2           SBI                 Banks
  2   3  Asian Paints  Paints and Varnishes
  3   4        Maruti                  Auto
  4   5    Sun Pharma                Pharma
y 0   1          NTPC                 Power
  1   2           TCS                    IT
  2   3         Lupin                Pharma
  3   4         ICICI                 Banks
  4   5           M&M                  Auto

In [38]:
print (pd.concat([left_df,right_df],ignore_index=True))

   id       Company                Sector
0   1       Infosys                    IT
1   2           SBI                 Banks
2   3  Asian Paints  Paints and Varnishes
3   4        Maruti                  Auto
4   5    Sun Pharma                Pharma
5   1          NTPC                 Power
6   2           TCS                    IT
7   3         Lupin                Pharma
8   4         ICICI                 Banks
9   5           M&M                  Auto

In [39]:
print (pd.concat([left_df,right_df],axis=1))

   id       Company                Sector  id Company  Sector
0   1       Infosys                    IT   1    NTPC   Power
1   2           SBI                 Banks   2     TCS      IT
2   3  Asian Paints  Paints and Varnishes   3   Lupin  Pharma
3   4        Maruti                  Auto   4   ICICI   Banks
4   5    Sun Pharma                Pharma   5     M&M    Auto

In [40]:
print (left_df.append(right_df))

   id       Company                Sector
0   1       Infosys                    IT
1   2           SBI                 Banks
2   3  Asian Paints  Paints and Varnishes
3   4        Maruti                  Auto
4   5    Sun Pharma                Pharma
0   1          NTPC                 Power
1   2           TCS                    IT
2   3         Lupin                Pharma
3   4         ICICI                 Banks
4   5           M&M                  Auto

In [41]:
print (left_df.append([right_df,left_df, right_df]))

   id       Company                Sector
0   1       Infosys                    IT
1   2           SBI                 Banks
2   3  Asian Paints  Paints and Varnishes
3   4        Maruti                  Auto
4   5    Sun Pharma                Pharma
0   1          NTPC                 Power
1   2           TCS                    IT
2   3         Lupin                Pharma
3   4         ICICI                 Banks
4   5           M&M                  Auto
0   1       Infosys                    IT
1   2           SBI                 Banks
2   3  Asian Paints  Paints and Varnishes
3   4        Maruti                  Auto
4   5    Sun Pharma                Pharma
0   1          NTPC                 Power
1   2           TCS                    IT
2   3         Lupin                Pharma
3   4         ICICI                 Banks
4   5           M&M                  Auto