In [13]:
import fix_yahoo_finance as yf
data = yf.download('GOOG', '2016-01-01', '2017-01-01')

[*********************100%***********************]  1 of 1 downloaded

In [12]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-12-31,769.500000,769.500000,758.340027,758.880005,758.880005,1500900
2016-01-04,743.000000,744.059998,731.257996,741.840027,741.840027,3272800
2016-01-05,746.450012,752.000000,738.640015,742.580017,742.580017,1950700
2016-01-06,730.000000,747.179993,728.919983,743.619995,743.619995,1947000
2016-01-07,730.309998,738.500000,719.059998,726.390015,726.390015,2963700
2016-01-08,731.450012,733.229980,713.000000,714.469971,714.469971,2450900
2016-01-11,716.609985,718.854980,703.539978,716.030029,716.030029,2089300
2016-01-12,721.679993,728.750000,717.317017,726.070007,726.070007,2024500
2016-01-13,730.849976,734.739990,698.609985,700.559998,700.559998,2501700
2016-01-14,705.380005,721.924988,689.099976,714.719971,714.719971,2225800
2016-01-15,692.289978,706.739990,685.369995,694.450012,694.450012,3608100
2016-01-19,703.299988,709.979980,693.409973,701.789978,701.789978,2268100
2016-01-20,688.609985,706.849976,673.260010,698.450012,698.450012,3445000
2016-01-21,702.179993,719.190002,694.460022,706.590027,706.590027,2412200
2016-01-22,723.599976,728.130005,720.120972,725.250000,725.250000,2011800
2016-01-25,723.580017,729.679993,710.010010,711.669983,711.669983,1711700
2016-01-26,713.849976,718.280029,706.479980,713.039978,713.039978,1324300
2016-01-27,713.669983,718.234985,694.390015,699.989990,699.989990,2194200
2016-01-28,722.219971,733.690002,712.349976,730.960022,730.960022,2676400
2016-01-29,731.530029,744.989990,726.799988,742.950012,742.950012,3474300
2016-02-01,750.460022,757.859985,743.270020,752.000000,752.000000,5139200
2016-02-02,784.500000,789.869995,764.650024,764.650024,764.650024,6348100
2016-02-03,770.219971,774.500000,720.500000,726.950012,726.950012,6171000
2016-02-04,722.809998,727.000000,701.859985,708.010010,708.010010,5145900
2016-02-05,703.869995,703.989990,680.150024,683.570007,683.570007,5105700
2016-02-08,667.849976,684.030029,663.059998,682.739990,682.739990,4247400
2016-02-09,672.320007,699.900024,668.770020,678.109985,678.109985,3604300
2016-02-10,686.859985,701.309998,682.130005,684.119995,684.119995,2638000
2016-02-11,675.000000,689.349976,668.867981,683.109985,683.109985,3024000
2016-02-12,690.260010,693.750000,678.599976,682.400024,682.400024,2141400
...,...,...,...,...,...,...
2016-11-17,766.919983,772.700012,764.229980,771.229980,771.229980,1304000
2016-11-18,771.369995,775.000000,760.000000,760.539978,760.539978,1547100
2016-11-21,762.609985,769.700012,760.599976,769.200012,769.200012,1330600
2016-11-22,772.630005,776.960022,767.000000,768.270020,768.270020,1593100
2016-11-23,767.729980,768.283020,755.250000,760.989990,760.989990,1477400
2016-11-25,764.260010,765.000000,760.520020,761.679993,761.679993,587400
2016-11-28,760.000000,779.530029,759.799988,768.239990,768.239990,2188200
2016-11-29,771.530029,778.500000,768.239990,770.840027,770.840027,1616600
2016-11-30,770.070007,772.989990,754.830017,758.039978,758.039978,2392900
2016-12-01,757.440002,759.849976,737.025024,747.919983,747.919983,3017900
2016-12-02,744.590027,754.000000,743.099976,750.500000,750.500000,1452500
2016-12-05,757.710022,763.900024,752.900024,762.520020,762.520020,1394200
2016-12-06,764.729980,768.830017,757.340027,759.109985,759.109985,1690700
2016-12-07,761.000000,771.359985,755.799988,771.190002,771.190002,1761000
2016-12-08,772.479980,778.179993,767.229980,776.419983,776.419983,1488100
2016-12-09,780.000000,789.429993,779.020996,789.289978,789.289978,1821900
2016-12-12,785.039978,791.250000,784.354980,789.270020,789.270020,2104100
2016-12-13,793.900024,804.380005,793.340027,796.099976,796.099976,2145200
2016-12-14,797.400024,804.000000,794.010010,797.070007,797.070007,1704200
2016-12-15,797.340027,803.000000,792.919983,797.849976,797.849976,1626500
2016-12-16,800.400024,800.856018,790.289978,790.799988,790.799988,2428300
2016-12-19,790.219971,797.659973,786.270020,794.200012,794.200012,1232100
2016-12-20,796.760010,798.650024,793.270020,796.419983,796.419983,951000
2016-12-21,795.840027,796.676025,787.099976,794.559998,794.559998,1211300
2016-12-22,792.359985,793.320007,788.580017,791.260010,791.260010,972200
2016-12-23,790.900024,792.739990,787.280029,789.909973,789.909973,623400
2016-12-27,790.679993,797.859985,787.656982,791.549988,791.549988,789100
2016-12-28,793.700012,794.229980,783.200012,785.049988,785.049988,1153800
2016-12-29,783.330017,785.929993,778.919983,782.789978,782.789978,742200
2016-12-30,782.750000,782.780029,770.409973,771.820007,771.820007,1770000