In [105]:
import pandas as pd
import quandl
import matplotlib.pyplot as plt
import math

### Bolinger Band 그리기 위한 sigma 계산 helper function

In [192]:
def variance_calculator(series, series_average, win_len):
    sma = win_len
    temp1 = series.subtract(series_average) # a-b
    temp2 = temp1.apply(lambda x: x**2)    # (a-b)^2
    temp3 = temp2.rolling(sma - 1).mean() # sum((a-b)^2) / (sma-1)
    sigma = temp3.apply(lambda x: math.sqrt(x))  # standard deviation
    return sigma

### Quandl 에서 2015.1.1 부터의 매일의 S&P500 선물 지수 및 거래량 정보, 상승 주식 종목수/거래량, 하락 주식 종목수/거래량 download

In [142]:
# S&P500 future data from "CHRIS/CME_SP1" database
Data1 = quandl.get("CHRIS/CME_SP1", authtoken="U_Gp39gZutpHmaFgC65Y",
                  start_date="2014-12-12")
# number of declining and advancing stocks
declining = quandl.get("URC/NYSE_DEC", authtoken="U_Gp39gZutpHmaFgC65Y",
                       start_date="2014-12-12")
advancing = quandl.get("URC/NYSE_ADV", authtoken="U_Gp39gZutpHmaFgC65Y",
                       start_date="2014-12-12")
adv_vol = quandl.get("URC/NYSE_ADV_VOL", authtoken="U_Gp39gZutpHmaFgC65Y",
                       start_date="2014-12-12")
dec_vol = quandl.get("URC/NYSE_DEC_VOL", authtoken="U_Gp39gZutpHmaFgC65Y",
                       start_date="2014-12-12")

In [143]:
Data1.head(2)

,Open,High,Low,Last,Change,Settle,Volume,Previous Day Open Interest
Date,,,,,,,,
2014-12-12,2020.5,2031.0,1997.5,1997.5,33.7,1997.2,28520.0,126742.0
2014-12-15,2013.5,2018.5,1982.0,1991.0,7.2,1990.0,18085.0,101988.0

In [144]:
declining.head(2)

            Numbers of Stocks
Date
2014-12-12             2519.0
2014-12-15             2407.0

In [145]:
advancing.head(2)

            Numbers of Stocks
Date
2014-12-12              663.0
2014-12-15              778.0

In [146]:
adv_vol.head(2)

            Numbers of Stocks
Date
2014-12-12        713534163.0
2014-12-15        848258739.0

In [147]:
dec_vol.head(2)

            Numbers of Stocks
Date
2014-12-12       3.378800e+09
2014-12-15       3.433819e+09

### merge all together

In [148]:
Data = declining

In [149]:
Data.columns = ['declining']

In [150]:
Data['advancing'] = advancing['Numbers of Stocks']

In [151]:
merged = Data.join(Data1)

In [152]:
merged = merged.fillna(method='ffill')

In [153]:
Data = merged

In [154]:
Data.head(2)

,declining,advancing,Open,High,Low,Last,Change,Settle,Volume,Previous Day Open Interest
Date,,,,,,,,,,
2014-12-12,2519.0,663.0,2020.5,2031.0,1997.5,1997.5,33.7,1997.2,28520.0,126742.0
2014-12-15,2407.0,778.0,2013.5,2018.5,1982.0,1991.0,7.2,1990.0,18085.0,101988.0

In [155]:
# find the TRIN value using the number and volume of advancing and declining stocks
AD_ratio = Data['advancing'] / Data['declining']
AD_vol_ratio = adv_vol['Numbers of Stocks'].divide(dec_vol['Numbers of Stocks'])

In [156]:
TRIN = AD_ratio / AD_vol_ratio

In [157]:
TRIN.head(2)

Date
2014-12-12    1.246330
2014-12-15    1.308436
dtype: float64

In [158]:
Data['TRIN'] = TRIN

In [159]:
Data.head(2)

,declining,advancing,Open,High,Low,Last,Change,Settle,Volume,Previous Day Open Interest,TRIN
Date,,,,,,,,,,,
2014-12-12,2519.0,663.0,2020.5,2031.0,1997.5,1997.5,33.7,1997.2,28520.0,126742.0,1.246330
2014-12-15,2407.0,778.0,2013.5,2018.5,1982.0,1991.0,7.2,1990.0,18085.0,101988.0,1.308436

### TRIN 은 lopsided 한 속성이 있으므로 log 를 취해 normalize 해 준다

In [160]:
Data['TRIN'] = Data['TRIN'].apply(lambda x: math.log(x))

In [161]:
Data.head(2)

,declining,advancing,Open,High,Low,Last,Change,Settle,Volume,Previous Day Open Interest,TRIN
Date,,,,,,,,,,,
2014-12-12,2519.0,663.0,2020.5,2031.0,1997.5,1997.5,33.7,1997.2,28520.0,126742.0,0.220203
2014-12-15,2407.0,778.0,2013.5,2018.5,1982.0,1991.0,7.2,1990.0,18085.0,101988.0,0.268833

### S&P500 선물의 closing value (Last) 를 buy/sell order 시의 선물 가격으로 사용하기 위해 새로운 future column 생성하고 완성된 Data 를 csv file 로 저장함

In [162]:
Data['future'] = Data['Last']

In [163]:
Data.head(2)

,declining,advancing,Open,High,Low,Last,Change,Settle,Volume,Previous Day Open Interest,TRIN,future
Date,,,,,,,,,,,,
2014-12-12,2519.0,663.0,2020.5,2031.0,1997.5,1997.5,33.7,1997.2,28520.0,126742.0,0.220203,1997.5
2014-12-15,2407.0,778.0,2013.5,2018.5,1982.0,1991.0,7.2,1990.0,18085.0,101988.0,0.268833,1991.0

In [171]:
Data.to_csv('tempr.csv')

In [172]:
Data = pd.read_csv('tempr.csv', index_col='Date')

In [173]:
Data.head(2)

,declining,advancing,Open,High,Low,Last,Change,Settle,Volume,Previous Day Open Interest,TRIN,future
Date,,,,,,,,,,,,
2014-12-12,2519.0,663.0,2020.5,2031.0,1997.5,1997.5,33.7,1997.2,28520.0,126742.0,0.220203,1997.5
2014-12-15,2407.0,778.0,2013.5,2018.5,1982.0,1991.0,7.2,1990.0,18085.0,101988.0,0.268833,1991.0

### Initialize variables which will be used later

In [174]:
sma = 22 # moving average window length
k = 1.5  # Bollinger band 작성시 sigma 의 몇배를 적용할 것인가 하는 상수
l = 2    # Bollinger band 에서 sigma 의 몇배에서 stop loss 할 것인지 정하는 상수
pro = 0  # profit
flag = 1 # first transaction 을 하기 위한 flag. 거래는 LBB/UBB crossing over 에서만 시작함
buy_flag = False
sell_flag = False
transaction_start_price = 0
abs_SL = 25 # absolute stop loss 값
mtm = list()
order_details = list()
order = list()  # orders list : BUY/SELL/DO_nothing
profit = list()
buy_sell = list()
stop_loss = list()
trade_cause = list()

In [175]:
Data['mAvg'] = Data['TRIN'].rolling(sma).mean()   # moving average of TRIN

In [176]:
Data['TRIN_prev'] = Data['TRIN'].shift(1)

In [177]:
Data.head(2)

,declining,advancing,Open,High,Low,Last,Change,Settle,Volume,Previous Day Open Interest,TRIN,future,mAvg,TRIN_prev
Date,,,,,,,,,,,,,,
2014-12-12,2519.0,663.0,2020.5,2031.0,1997.5,1997.5,33.7,1997.2,28520.0,126742.0,0.220203,1997.5,NaN,NaN
2014-12-15,2407.0,778.0,2013.5,2018.5,1982.0,1991.0,7.2,1990.0,18085.0,101988.0,0.268833,1991.0,NaN,0.220203

In [178]:
Data.to_csv('tempr.csv')

In [180]:
Data = pd.read_csv('tempr.csv', index_col='Date')

In [193]:
sigma = variance_calculator(Data['TRIN'], Data['mAvg'], sma)  # standard deviation

In [195]:
k_sigma = k * sigma
l_sigma = l * sigma

In [205]:
Data['UBB'] = Data['mAvg'].add(k_sigma)       # Upper Bolinger Band
Data['LBB'] = Data['mAvg'].subtract(k_sigma)  # Lower Bolinger Band
Data['USL'] = Data['UBB'].add(l_sigma)        # Upper Stop Loss Band
Data['LSL'] = Data['LBB'].subtract(l_sigma)   # Lower Stop Loss Band

In [216]:
Data.tail(2)

,declining,advancing,Open,High,Low,Last,Change,Settle,Volume,Previous Day Open Interest,TRIN,future,mAvg,TRIN_prev,UBB,LBB,USL,LSL,order
Date,,,,,,,,,,,,,,,,,,,
2018-08-06,1194.0,1767.0,2842.2,2852.3,2835.5,2850.1,10.6,2850.1,1123.0,63576.0,0.146224,2850.1,-0.051993,-0.270526,0.315712,-0.419697,0.805984,-0.909969,NaN
2018-08-07,1382.0,1566.0,2851.5,2863.0,2848.5,2860.0,9.6,2859.7,1282.0,64489.0,-0.073758,2860.0,-0.031113,0.146224,0.324332,-0.386559,0.798260,-0.860486,NaN

In [218]:
Data.tail(2)

,declining,advancing,Open,High,Low,Last,Change,Settle,Volume,Previous Day Open Interest,TRIN,future,mAvg,TRIN_prev,UBB,LBB,USL,LSL,order
Date,,,,,,,,,,,,,,,,,,,
2018-08-06,1194.0,1767.0,2842.2,2852.3,2835.5,2850.1,10.6,2850.1,1123.0,63576.0,0.146224,2850.1,-0.051993,-0.270526,0.315712,-0.419697,0.805984,-0.909969,NaN
2018-08-07,1382.0,1566.0,2851.5,2863.0,2848.5,2860.0,9.6,2859.7,1282.0,64489.0,-0.073758,2860.0,-0.031113,0.146224,0.324332,-0.386559,0.798260,-0.860486,NaN

In [207]:
Data['order'] = pd.Series()   # list of orders - BUY/SELL/DO_nothing

In [208]:
s = Data['TRIN'].size

In [221]:
for i in range(s):
    pro = 0
    future_cost = Data['future'][i]
    TRIN = Data['TRIN'][i]
    TRIN_prev = Data['TRIN_prev'][i]
    LBB = Data['LBB'][i]
    UBB = Data['UBB'][i]
    mAvg = Data['mAvg'][i]
    LSL = Data['LSL'][i]
    USL = Data['USL'][i]
    
    UBB_cross = (TRIN > UBB) and (TRIN_prev < UBB)  # TRIN 이 UBB 를 상향 돌파했는지 check
    LBB_cross = (TRIN < LBB) and (TRIN_prev > LBB)  # TRIN 이 LBB 를 하향 돌파했는지 check
    mAvg_cross_up = (TRIN > mAvg) and (TRIN_prev < mAvg)  # TRIN 이 mAvg 를 상향 돌파 ?
    mAvg_cross_down = (TRIN < mAvg) and (TRIN_prev > mAvg) # TRIN 이 mAvg 를 하향 돌파 ?
    USL_cross = (TRIN > USL) and (TRIN_prev < USL)  # TRIN 이 upper stop loss 를 상향 돌파 ?
    LSL_cross = (TRIN < LSL) and (TRIN_prev > LSL)  # TRIN 이 lower stop loss 를 하향 돌파 ?
    
    if (UBB_cross and (not buy_flag) and flag == 1): # UBB 를 상향 돌파하고 buy order 가능
        flag = 0 # 거래가 시작됨
        buy_flag = True   # 이전 transaction 이 buy 였음을 표시
        sell_flag = False
        transaction_start_price = future_cost  # 매수가격
        # order type, order generated, reason of order, 0 - stop loss not triggered
        order_details = [1, "BUY", "UBB crossed", "0", "position taken"]
    elif (LBB_cross and (not sell_flag) and flag == 1): # LBB 를 하향 돌파하고 sell order 가능
        flag = 0
        buy_flag = False
        sell_flag = True   # 이전 transaction 이 sell 이었음을 표시
        transaction_start_price = future_cost
        order_details = [-1, "SELL", "LBB crossed", "0", "position taken"]
    elif (mAvg_cross_up and flag == 0 and (not buy_flag)) #