In [14]:
import numpy as np
import pandas as pd

infy = pd.read_csv ('infy_twoweeks.csv')
infy.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,No. of Trades
0,INFY,EQ,2-Apr-18,1131.80,1141.00,1149.55,1121.3,1136.70,1137.15,1135.86,4036351,142078
1,INFY,EQ,3-Apr-18,1137.15,1134.70,1143.55,1128.1,1139.40,1140.45,1135.21,2038584,114034
2,INFY,EQ,4-Apr-18,1140.45,1144.00,1144.55,1120.0,1122.70,1124.20,1131.81,2406651,137029
3,INFY,EQ,5-Apr-18,1124.20,1139.55,1151.30,1129.1,1146.05,1147.55,1140.71,3881772,101745
4,INFY,EQ,6-Apr-18,1147.55,1143.00,1146.00,1122.1,1127.55,1127.00,1128.81,2968871,137277

In [69]:
print(infy.loc[:4, ['Close Price']].head(2))
infy.iloc[:2,8]

   Close Price
0      1137.15
1      1140.45

0    1137.15
1    1140.45
Name: Close Price, dtype: float64

In [70]:
print (infy.loc[:,'Prev Close'].head(2))
infy.iloc[:2,3].head(2)

0    1131.80
1    1137.15
Name: Prev Close, dtype: float64

0    1131.80
1    1137.15
Name: Prev Close, dtype: float64

In [77]:
print (infy.loc[:, ['Close Price','Open Price']].head(2))
infy.iloc[:,[infy.columns.get_loc('Close Price'),infy.columns.get_loc('Open Price')]].head(2)

   Close Price  Open Price
0      1137.15      1141.0
1      1140.45      1134.7

   Close Price  Open Price
0      1137.15      1141.0
1      1140.45      1134.7

In [80]:
print (infy.loc[:4,['Close Price','Open Price']].head(2))
infy.iloc[:4,[infy.columns.get_loc('Close Price'),infy.columns.get_loc('Open Price')]].head(2)

   Close Price  Open Price
0      1137.15      1141.0
1      1140.45      1134.7

   Close Price  Open Price
0      1137.15      1141.0
1      1140.45      1134.7

In [83]:
print (infy.loc[2:5].head(2))
infy.iloc[2:5].head(2)

  Symbol Series      Date  Prev Close  Open Price  High Price  Low Price  \
2   INFY     EQ  4-Apr-18     1140.45     1144.00     1144.55     1120.0
3   INFY     EQ  5-Apr-18     1124.20     1139.55     1151.30     1129.1

   Last Price  Close Price  Average Price  Total Traded Quantity  \
2     1122.70      1124.20        1131.81                2406651
3     1146.05      1147.55        1140.71                3881772

   No. of Trades
2         137029
3         101745

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,No. of Trades
2,INFY,EQ,4-Apr-18,1140.45,1144.00,1144.55,1120.0,1122.70,1124.20,1131.81,2406651,137029
3,INFY,EQ,5-Apr-18,1124.20,1139.55,1151.30,1129.1,1146.05,1147.55,1140.71,3881772,101745

In [93]:
print (infy.loc[[0,1,2,3,4,5],['Open Price', 'High Price', 'Low Price', 'Close Price']])
infy.iloc[0:6,[infy.columns.get_loc('Open Price'), infy.columns.get_loc('Low Price')]]

   Open Price  High Price  Low Price  Close Price
0     1141.00     1149.55    1121.30      1137.15
1     1134.70     1143.55    1128.10      1140.45
2     1144.00     1144.55    1120.00      1124.20
3     1139.55     1151.30    1129.10      1147.55
4     1143.00     1146.00    1122.10      1127.00
5     1125.00     1125.80    1106.55      1111.25

   Open Price  Low Price
0     1141.00    1121.30
1     1134.70    1128.10
2     1144.00    1120.00
3     1139.55    1129.10
4     1143.00    1122.10
5     1125.00    1106.55

In [94]:
print (infy.iloc[:4])

  Symbol Series      Date  Prev Close  Open Price  High Price  Low Price  \
0   INFY     EQ  2-Apr-18     1131.80     1141.00     1149.55     1121.3
1   INFY     EQ  3-Apr-18     1137.15     1134.70     1143.55     1128.1
2   INFY     EQ  4-Apr-18     1140.45     1144.00     1144.55     1120.0
3   INFY     EQ  5-Apr-18     1124.20     1139.55     1151.30     1129.1

   Last Price  Close Price  Average Price  Total Traded Quantity  \
0     1136.70      1137.15        1135.86                4036351
1     1139.40      1140.45        1135.21                2038584
2     1122.70      1124.20        1131.81                2406651
3     1146.05      1147.55        1140.71                3881772

   No. of Trades
0         142078
1         114034
2         137029
3         101745

In [35]:
print (infy.iloc[1:5, 2:4])

       Date  Prev Close
1  3-Apr-18     1137.15
2  4-Apr-18     1140.45
3  5-Apr-18     1124.20
4  6-Apr-18     1147.55

In [36]:
print (infy.iloc[[1, 3, 5,7], [1, 3, 5, 7, 9]])

  Series  Prev Close  High Price  Last Price  Average Price
1     EQ     1137.15     1143.55     1139.40        1135.21
3     EQ     1124.20     1151.30     1146.05        1140.71
5     EQ     1127.00     1125.80     1111.45        1113.12
7     EQ     1113.40     1131.50     1124.50        1124.78

In [95]:
print (infy.iloc[1:3, :])

  Symbol Series      Date  Prev Close  Open Price  High Price  Low Price  \
1   INFY     EQ  3-Apr-18     1137.15      1134.7     1143.55     1128.1
2   INFY     EQ  4-Apr-18     1140.45      1144.0     1144.55     1120.0

   Last Price  Close Price  Average Price  Total Traded Quantity  \
1      1139.4      1140.45        1135.21                2038584
2      1122.7      1124.20        1131.81                2406651

   No. of Trades
1         114034
2         137029

In [38]:
print (infy.iloc[:,1:3])

  Series       Date
0     EQ   2-Apr-18
1     EQ   3-Apr-18
2     EQ   4-Apr-18
3     EQ   5-Apr-18
4     EQ   6-Apr-18
5     EQ   9-Apr-18
6     EQ  10-Apr-18
7     EQ  11-Apr-18
8     EQ  12-Apr-18
9     EQ  13-Apr-18

In [39]:
print (infy['Close Price'].isnull())

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: Close Price, dtype: bool

In [40]:
print (infy.isnull())

   Symbol  Series   Date  Prev Close  Open Price  High Price  Low Price  \
0   False   False  False       False       False       False      False
1   False   False  False       False       False       False      False
2   False   False  False       False       False       False      False
3   False   False  False       False       False       False      False
4   False   False  False       False       False       False      False
5   False   False  False       False       False       False      False
6   False   False  False       False       False       False      False
7   False   False  False       False       False       False      False
8   False   False  False       False       False       False      False
9   False   False  False       False       False       False      False

   Last Price  Close Price  Average Price  Total Traded Quantity  \
0       False        False          False                  False
1       False        False          False                  False
2       False        False          False                  False
3       False        False          False                  False
4       False        False          False                  False
5       False        False          False                  False
6       False        False          False                  False
7       False        False          False                  False
8       False        False          False                  False
9       False        False          False                  False

   No. of Trades
0          False
1          False
2          False
3          False
4          False
5          False
6          False
7          False
8          False
9          False

In [41]:
print (infy['Close Price'].notnull())

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
Name: Close Price, dtype: bool

In [42]:
print (infy['Close Price'].fillna(5))

0    1137.15
1    1140.45
2    1124.20
3    1147.55
4    1127.00
5    1111.25
6    1113.40
7    1124.25
8    1162.60
9    1171.45
Name: Close Price, dtype: float64

In [43]:
print (infy['Close Price'].fillna(method='backfill'))

0    1137.15
1    1140.45
2    1124.20
3    1147.55
4    1127.00
5    1111.25
6    1113.40
7    1124.25
8    1162.60
9    1171.45
Name: Close Price, dtype: float64

In [44]:
print (infy.fillna(method='backfill'))

  Symbol Series       Date  Prev Close  Open Price  High Price  Low Price  \
0   INFY     EQ   2-Apr-18     1131.80     1141.00     1149.55    1121.30
1   INFY     EQ   3-Apr-18     1137.15     1134.70     1143.55    1128.10
2   INFY     EQ   4-Apr-18     1140.45     1144.00     1144.55    1120.00
3   INFY     EQ   5-Apr-18     1124.20     1139.55     1151.30    1129.10
4   INFY     EQ   6-Apr-18     1147.55     1143.00     1146.00    1122.10
5   INFY     EQ   9-Apr-18     1127.00     1125.00     1125.80    1106.55
6   INFY     EQ  10-Apr-18     1111.25     1112.00     1124.50    1105.40
7   INFY     EQ  11-Apr-18     1113.40     1118.00     1131.50    1116.50
8   INFY     EQ  12-Apr-18     1124.25     1129.45     1172.75    1125.00
9   INFY     EQ  13-Apr-18     1162.60     1174.00     1185.90    1150.25

   Last Price  Close Price  Average Price  Total Traded Quantity  \
0     1136.70      1137.15        1135.86                4036351
1     1139.40      1140.45        1135.21                2038584
2     1122.70      1124.20        1131.81                2406651
3     1146.05      1147.55        1140.71                3881772
4     1127.55      1127.00        1128.81                2968871
5     1111.45      1111.25        1113.12                3601441
6     1114.65      1113.40        1115.77                4463029
7     1124.50      1124.25        1124.78                4512787
8     1164.05      1162.60        1157.71                8522183
9     1168.00      1171.45        1172.37               10613519

   No. of Trades
0         142078
1         114034
2         137029
3         101745
4         137277
5         171118
6         144468
7         102586
8         216130
9         180965

In [45]:
print (infy['Close Price'].fillna(method='bfill'))

0    1137.15
1    1140.45
2    1124.20
3    1147.55
4    1127.00
5    1111.25
6    1113.40
7    1124.25
8    1162.60
9    1171.45
Name: Close Price, dtype: float64

In [46]:
print (infy['Close Price'].fillna(method='ffill'))

0    1137.15
1    1140.45
2    1124.20
3    1147.55
4    1127.00
5    1111.25
6    1113.40
7    1124.25
8    1162.60
9    1171.45
Name: Close Price, dtype: float64

In [96]:
print (infy.replace({1000:10,2000:60}))

  Symbol Series       Date  Prev Close  Open Price  High Price  Low Price  \
0   INFY     EQ   2-Apr-18     1131.80     1141.00     1149.55    1121.30
1   INFY     EQ   3-Apr-18     1137.15     1134.70     1143.55    1128.10
2   INFY     EQ   4-Apr-18     1140.45     1144.00     1144.55    1120.00
3   INFY     EQ   5-Apr-18     1124.20     1139.55     1151.30    1129.10
4   INFY     EQ   6-Apr-18     1147.55     1143.00     1146.00    1122.10
5   INFY     EQ   9-Apr-18     1127.00     1125.00     1125.80    1106.55
6   INFY     EQ  10-Apr-18     1111.25     1112.00     1124.50    1105.40
7   INFY     EQ  11-Apr-18     1113.40     1118.00     1131.50    1116.50
8   INFY     EQ  12-Apr-18     1124.25     1129.45     1172.75    1125.00
9   INFY     EQ  13-Apr-18     1162.60     1174.00     1185.90    1150.25

   Last Price  Close Price  Average Price  Total Traded Quantity  \
0     1136.70      1137.15        1135.86                4036351
1     1139.40      1140.45        1135.21                2038584
2     1122.70      1124.20        1131.81                2406651
3     1146.05      1147.55        1140.71                3881772
4     1127.55      1127.00        1128.81                2968871
5     1111.45      1111.25        1113.12                3601441
6     1114.65      1113.40        1115.77                4463029
7     1124.50      1124.25        1124.78                4512787
8     1164.05      1162.60        1157.71                8522183
9     1168.00      1171.45        1172.37               10613519

   No. of Trades
0         142078
1         114034
2         137029
3         101745
4         137277
5         171118
6         144468
7         102586
8         216130
9         180965